
Owl++Desk-build-desktop/debug/main.o
Owl++Desk-build-desktop/debug/mainwindow.o
Owl++Desk-build-desktop/debug/moc_mainwindow.cpp
Owl++Desk-build-desktop/debug/moc_mainwindow.o
Owl++Desk-build-desktop/debug/Owl++Desk.exe
Owl++Desk-build-desktop/Makefile
Owl++Desk-build-desktop/Makefile.Debug
Owl++Desk-build-desktop/Makefile.Release
Owl++Desk-build-desktop/ui_mainwindow.h
Owl++Desk/Owl++Desk.pro.user
OwlLang/OwlLang.pro.user
